<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hospital Management System</title>
    <link rel="stylesheet" href="/Users/titoetimiri/Hospital Management System/Pipeline-project---HMS/src/static/style.css">
</head>
<body>
    <h1>Hospital Management System</h1>
    <ul>
        <li><a href="/Users/titoetimiri/Hospital Management System/Pipeline-project---HMS/src/templates/patients.html">Patients</a></li>
        <li><a href="/Users/titoetimiri/Hospital Management System/Pipeline-project---HMS/src/templates/doctors.html">Doctors</a></li>
        <li><a href="/Users/titoetimiri/Hospital Management System/Pipeline-project---HMS/src/templates/appointments.html">Appointments</a></li>
        <li><a href="/Users/titoetimiri/Hospital Management System/Pipeline-project---HMS/src/templates/medical_records.html">Medical Records</a></li>
    </ul>
</body>
</html>
